alembic==1.12.1
annotated-types==0.7.0
anyio==3.7.1
async-timeout==5.0.1
asyncpg==0.29.0
babel==2.17.0
bcrypt==5.0.0
black==23.11.0
certifi==2025.10.5
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
coverage==7.10.7
cryptography==46.0.2
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
execnet==2.1.1
Faker==20.1.0
fastapi==0.104.1
filelock==3.20.0
flake8==6.1.0
ghp-import==2.1.0
grpcio==1.76.0
grpcio-tools==1.76.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.25.2
hyperframe==6.1.0
identify==2.6.15
idna==3.11
iniconfig==2.1.0
isort==5.13.2
Jinja2==3.1.6
jiter==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain-core==0.1.53
langchain-text-splitters==0.0.1
langsmith==0.1.147
anthropic==0.25.9
Mako==1.3.10
Markdown==3.9
MarkupSafe==3.0.3
mccabe==0.7.0
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==9.5.3
mkdocs-material-extensions==1.3.1
mypy==1.7.1
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.5
openai==2.8.1
orjson==3.11.4
packaging==23.2
paginate==0.5.7
passlib==1.7.4
pathspec==0.12.1
pdf2image==1.17.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
portalocker==2.10.1
pypdf==5.2.0
pre-commit==3.5.0
protobuf==6.33.1
psycopg2-binary==2.9.9
pyasn1==0.6.1
pycodestyle==2.11.1
pycparser==2.23
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic_core==2.14.1
pyflakes==3.1.0
Pygments==2.19.2
pymdown-extensions==10.16.1
pytesseract==0.3.13
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
PyYAML==6.0.3
pyyaml_env_tag==1.1
qdrant-client==1.9.1
redis==7.1.0
regex==2025.9.18
requests==2.32.5
requests-toolbelt==1.0.0
rsa==4.9.1
ruff==0.1.6
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.23
starlette==0.27.0
tenacity==8.5.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.21.0
virtualenv==20.35.3
watchdog==6.0.0
watchfiles==0.21.0
websockets==15.0.1
